<html>
  <head>
    <title class>To Do</title>
    <h1>blop</h1>
  </head>
  <style>
  
  h1 {
    background:lightblue;
    padding:10px;
    border: 9px solid green;
    width:75px;
    box-shadow: 5px 6px 10px 0px black;
  }
    
    ul {
    background: #3399ff;
    padding: 20px;
    width:150px;
    box-shadow: 5px 6px 10px 0px black;
}
ul li {
    background: #cce8ff;
    padding:5px;
    width:100px;
    margin: 15px;
}
    
html {
    font-size:20;
    background:lightgrey;
}
input {
  color:blue;
  background:lightgrey;
  
}
.pomodoro{
    width:50px;
}


    
  </style>
  <body>
    
    <ul>
      
      
      <li> 
      do laundry<br>
      <span><%=2-1%> pomodoros</span>
      </li>
      <li>
        pet cat<br>
           <span>1 pomodoro</span>
          </li>
    
      <li>
           
           <a href="show.html">do essay</a><br>
           <span>3 pomodoros</span>
        </li>
        
      <li> 
      cry<br>
      <span>4 pomodoros</span>
      </li>
      
  </ul>
   <input type="text" name="new item">
   <input type="text" id="pomodoro" name="time estimate">
   <input type="submit" value="submit">
  </body>
</html>