<h1>todo number <%==params[:id]%></h1>

<style>
  
  h1 {
    background:lightblue;
    padding:10px;
    border: 9px solid green;
    width:180px;
    box-shadow: 5px 6px 10px 0px black;
  }
    
    p {
    background: #3399ff;
    padding: 20px;
    width:120px;
    box-shadow: 5px 6px 10px 0px black;

    
  </style>




<h1>name of todo</h1>
<p>info about todo</p>
<p><%=@todo_description%></p>